page-notifications {
    .list{
        .item{
            padding:$content-padding;
            border-radius:$control-radius;
            overflow:hidden;
            .icon{
                font-size:2.5rem;
                min-height:0px;
            }
            p{
                color: color($colors,color1);
                @include whiteNormal(36px,2);
            }
        }
    }
}
   