page-password {
    .content{
        background:rgba(0,0,0,.5);
    }
    .scroll-content{
        overflow:hidden;
        display: flex;
        align-items:center;
        justify-content:center;
        padding:$content-padding;

    }
    .appForm{
        max-width: 500px;
        background:color($colors,color3);
        border-radius:$control-radius;
        overflow: hidden;
        .list{
            padding:$content-padding;
        }
        .grid{
            padding:0px;
            .col{
                padding:0px;
                .button{
                    border-radius:0px;
                    margin:0px;
                }
            }
        }
    }
}
