page-news {
    .scroll-content{
        >.grid{
            @extend .lesson_grid;
            .row3{
                .col{
                    &:first-of-type{
                        justify-content:flex-start;
                    }
                    &:last-of-type{
                        justify-content:flex-end;
                    }
                }
            }
            .description{
                color: color($colors,color1);
                @include whiteNormal(80px,5);
            }
            .label{
                justify-content: space-between!important;
            }
        }   
    }
}
    