<ion-header>
  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="details_img" [ngStyle]="{'background-image': sportArt.picture}">
    <ion-item>
      <h4>{{ sportArt.name }}</h4>
    </ion-item>
  </div>

  <!-- details -->
  <div class="details">
    <p class="description">
      {{ sportArt.description }}
    </p>
    <div class="comments">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Ziel: {{ distanz }} / {{ ziel }} Meters</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <circle-progress [percent]="percentage" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
          </circle-progress>
        </ion-card-content>
      </ion-card>
      <button ion-button block *ngIf="!started " color="secondary" margin-top (click)="start()">Starten</button>
      <button ion-button block *ngIf="started " color="color2" margin-top (click)="stop()">Stoppen</button>
    </div>
  </div>

</ion-content>