<ion-menu [content]="content" swipeEnabled="false" type="overlay">
  <ion-content>
    <ion-list>
      <ion-item menuClose  *ngFor="let p of pages" (click)="openPage(p.component)">
        <img src="{{p.img}}" item-left width="14px" *ngIf="p.img!=''">
        <ion-icon name="{{p.icon}}" color="color2" *ngIf="p.img==''" item-left></ion-icon>
        <p>{{p.title}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <button ion-button clear  menuClose  (click)="logout()">Log out</button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" [class.animateApp]="animateVarible==true"></ion-nav>